:root {
  --large-card-frame-width: calc(190px * 1.5);
  --medium-card-frame-width: calc(190px * 1.1);
  --small-card-frame-width: calc(190px * 0.75);
  --large-card-frame-height: calc(325px * 1.5);
  --medium-card-frame-height: calc(325px * 1.1);
  --small-card-frame-height: calc(325px * 0.75);
}

.outerFrame {
  width: var(--small-card-frame-width);
  height: var(--small-card-frame-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
  border-radius: 6px;
  /* border: 2px red solid; */
  transform: scale(1);
}

.outerFrame:hover {
  animation: bubble-effect 0.5s forwards;
  z-index: 100;
}

.cardFrameContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.frameImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.innerFrame {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 0px;
  /* TODO: Use this to change the background color of the card based on the card rarity */
  background: linear-gradient(to right, #616161, #9bc5c3);
}

.cardImg {
  display: block;
  width: 75%;
  height: 50%;
  object-fit: contain;
}

.cardTitle {
  padding-top: 12px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardDesc {
  padding-bottom: 64px;
  width: 60%;
  height: 4%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.common {
  background: linear-gradient(to right, #616161, #9bc5c3);
}

.special {
  background: rgb(53, 195, 34);
  background: linear-gradient(
    149deg,
    rgba(53, 195, 34, 1) 0%,
    rgba(237, 45, 253, 0.9220281862745098) 100%
  );
}

.rare {
  background: rgb(11, 35, 214);
  background: radial-gradient(
    circle,
    rgba(11, 35, 214, 0.9612438725490196) 0%,
    rgba(24, 191, 37, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.mythic {
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

.legendary {
  background: radial-gradient(
      at bottom right,
      dodgerblue 0,
      dodgerblue 1em,
      lightskyblue 1em,
      lightskyblue 2em,
      deepskyblue 2em,
      deepskyblue 3em,
      gainsboro 3em,
      gainsboro 4em,
      lightsteelblue 4em,
      lightsteelblue 5em,
      deepskyblue 5em,
      deepskyblue 6em,
      lightskyblue 6em,
      lightskyblue 7em,
      transparent 7em,
      transparent 8em
    ),
    radial-gradient(
      at top left,
      transparent 0,
      transparent 1em,
      lightskyblue 1em,
      lightskyblue 2em,
      deepskyblue 2em,
      deepskyblue 3em,
      lightsteelblue 3em,
      lightsteelblue 4em,
      gainsboro 4em,
      gainsboro 5em,
      deepskyblue 5em,
      deepskyblue 6em,
      skyblue 6em,
      skyblue 7em,
      dodgerblue 7em,
      dodgerblue 8em,
      transparent 8em,
      transparent 20em
    ),
    radial-gradient(circle at center bottom, coral, darkslateblue);

  background-blend-mode: overlay;
  background-size: 8em 8em, 8em 8em, cover;
}

@keyframes bubble-effect {
  0% {
    transform: scale(1);
  }
  70% {
    /* Scale up fast */
    transform: scale(1.5);
  }
  100% {
    /* Scale down to 1.2 (20% larger) */
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1200px) {
  .outerFrame {
    width: var(--medium-card-frame-width);
    height: var(--medium-card-frame-height);
  }

  .innerFrame {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .cardDesc {
    font-size: 16px;
  }
}

@media screen and (min-width: 1500px) {
  .outerFrame {
    width: var(--large-card-frame-width);
    height: var(--large-card-frame-height);
  }

  .innerFrame {
    padding-top: 28px;
    padding-bottom: 48px;
  }

  .cardTitle {
    font-size: 20px;
  }

  .cardDesc {
    font-size: 20px;
  }
}
