.townHallModalLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  outline: 3px rgb(255, 0, 0) solid;
}

.citizenSectionContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: 3px blue solid;
}
