.shakeHorizontal {
  animation: shakeHorizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes floatPadlock1 {
  0% {
    top: -80%;
  }
  50% {
    top: -50%;
  } /* The middle point is the min position */
  100% {
    top: -80%;
  } /* Starts and ends at the max position */
}

@keyframes floatPadlock2 {
  0% {
    top: -50%;
  }
  50% {
    top: -80%;
  } /* The middle point is the min position */
  100% {
    top: -50%;
  } /* Starts and ends at the max position */
}

@keyframes shakeHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
