.glowOnHover {
  width: 140px;
  height: 36px;
  font-size: 16px;
  border: 1px solid whitesmoke;
  outline: none;
  color: #fff;
  background: rgb(233, 244, 233);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:active {
  color: #000;
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:hover:before {
  opacity: 1;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  border: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
  background: green;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* @media screen and (max-height: 600px) and (orientation: landscape) {
  .glowOnHover {
    width: 140px;
    height: 36px;
    font-size: 16px;

  }
} */

@media screen and (min-width: 1500px) {
  .glowOnHover {
    min-width: 220px;
    width: 320px;
    height: 85px;
    font-size: 38px;
    border: 2px solid whitesmoke;
  }
}
