.standardModalContainer {
  color: black;
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.anotherContainer {
  width: 100%;
  height: 100%;
}

.layoutContainer {
  outline: 2px solid yellow;
  max-width: 100%;
  min-height: 90%;
  position: relative;
  /* padding: 12px; */
}

.actionButtonsContainer {
  max-width: 100%;
  outline: 2px solid rgb(0, 200, 255);
  padding: 12px;
  margin-top: 4px;
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .standardModalContainer {
    width: 80vw;
    height: 65vh;
  }
}
