.townHallModalLayout {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  gap: 8px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Pacifico", cursive;
  /* font-weight: 600; */

  /* outline: 3px rgb(255, 0, 0) solid; */
}

.citizenSectionContainer {
  width: 100%;
  height: 100%;
  /* padding: 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(14, 172, 204, 0.5);
  border-radius: 4px;
  /* outline: 1px purple solid; */
}

.theRestSectionContainer {
  width: 100%;
  height: 50%;
  /* padding: 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  /* border: 3px blue solid; */
}

.resourcesSectionContainer {
  width: 50%;
  height: 100%;
  /* padding: 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(179, 111, 34, 0.5);
  border-radius: 4px;
  /* outline: 1px rgb(0, 255, 0) solid; */
  gap: 12px;
}

.energySectionContainer {
  width: 25%;
  height: 100%;
  /* padding: 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px rgb(0, 255, 0) solid; */
  gap: 12px;
}

.specialSectionContainer {
  width: 25%;
  height: 100%;
  /* padding: 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px rgb(0, 255, 0) solid; */
  gap: 12px;
}
/* 
.actionButtonsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
} */

@media screen and (min-width: 1500px) {
  /* .resourcesSectionContainer {
    padding-left: 12px;
    padding-right: 12px;
  }

  .energySectionContainer {
    padding-left: 12px;
    padding-right: 12px;
  }

  .specialSectionContainer {
    padding-left: 12px;
    padding-right: 12px;
  } */
}
