:root {
  --building-width: 18%;
  --building-height: 22%;
}

.buildingSpot2 {
  outline: 2px solid red;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 28%;
  left: 49%;
  z-index: 108;
}

.buildingSpot4 {
  outline: 2px solid blue;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 41%;
  left: 35%;
  z-index: 107;
}

.buildingSpot5 {
  outline: 2px solid violet;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 60.3%;
  left: 37.3%;
  z-index: 109;
}

.buildingSpot6 {
  outline: 2px solid brown;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 110;
}

.buildingSpot7 {
  outline: 2px solid cyan;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 38.5%;
  left: 61%;
  z-index: 111;
}

.buildingSpot9 {
  outline: 2px solid orange;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 47%;
  left: 73.7%;
  z-index: 113;
}

.buildingSpot12 {
  outline: 2px solid green;
  width: var(--building-width);
  height: var(--building-height);
  position: absolute;
  top: 66%;
  left: 2.6%;
  z-index: 106;
}
